/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container{
  height: 80vh;
  width: 100vw;
  background: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: cover;
}
.typer{
  display: block;
  padding-top: 30% 
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .container{
  height: 40vh;
  background: url(/img/logo.png);
  background-size: 350px;
  background-repeat: no-repeat; 
  }
  .typer{
    display: block;
    padding-top: 50% 
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
